<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </head>
    <body>
        <style type = "text/css">
            .centerdiv
            {
                width: 45%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
                text-align: center;
            }
            .login{
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                width: 45%;
            }
            .blog
            {
                margin-top: 0px;
                width: 45%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            </style>
            <!-- <nav class = "navbar navbar-dark bg-dark navbar-fixed-top" role ="navigation">
                <ul class = "nav navbar-nav">
                    {% if user != None %}
                        <a class="navbar-brand" href="#">{{ user.username }}</a>
                        <li class="nav-item"><a href="#" data-toggle="modal" data-target="#addblog">Add Blog!</a></li>
                    {% endif %}
                    <li class="nav-item"><a href="#" data-toggle="modal" data-target="#login">Login!</a></li>
                
            </nav> -->

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    {% if user != None %}
                        <a class="navbar-brand" href="#">{{ user.username }}</a>
                        <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#addblog">Add Blog!</a>
                    {% endif %}
                    <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#login">Login!</a>
                  </div>
                </div>
            </nav>


            <div class="page-header centerdiv">
                <h1>Blog Articles!</h1>
            </div>
           <div class="blog-well centerdiv">
               {% for blog in blogs %}
                    <div>
                        <div class="page-header">
                            <h1>{{ blog.title }}</h1>
                            <small>{{ blog.author }}</small>
                        </div>
                        {{ blog.blog_content }}
                    </div>
                {% endfor %}
           </div>
           <div class = "modal fade" id = "login">
                <div class = "modal-dialog">
                    <div class = "modal-content">
                        <form method="post">
                            {% csrf_token %}
                            <div class = "modal-body login">
                                <b>Username</b>
                                    <input class = "form-control" name = "username"/>
                                    <b>Password:</b>
                                    <input type = "password" class = "form-control" name = "password">
                            </div> 
                            <div class = "modal-footer">
                                <input type="submit" class = "btn btn-success pull-left" value = "Login!"/>
                            </form>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
           </div>
           <div class = "modal fade" id = "addblog">
            <div class = "modal-dialog">
                <div class = "modal-content">
                    <form action="/addblog/" method = "post">
                        {% csrf_token %}
                        <div class = "modal-body login">
                            <b>Title:</b>
                                <input class = "form-control" name = "title"/>
                                <b>Blog Content</b>
                                <input class = "form-control" name = "blog_content">
                        </div> 
                        <div class = "modal-footer">
                            <input type="submit" class = "btn btn-success pull-left" value = "Add Blog!"/>
                        </form>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        <div>
            
                
    </body>
</html>